<div class="space">
  <footer class="text-white text-center text-lg-start bg-dark">
    <!-- Grid container -->
    <div class="container p-2">
      <!--Grid row-->
      <div class="row mt-2">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Sistema de Veterinaria</h5>
          <a type="button" class="btn btn-floating btn-light btn-lg"
            ><i class="fab fa-dribbble">
              <img
                style="width: 110px; height: 110px"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Logo_de_la_Universidad_El_Bosque.svg/1200px-Logo_de_la_Universidad_El_Bosque.svg.png"
              /> </i
          ></a>

          <br />
          <br />
          <a>Av. Cra. 9 No. 131 A-2</a><br />
          <a>PBX: (571) 6489000 Ext: 1247</a><br />
          <a>LÍNEA GRATUITA: 01-8000 0113033</a><br />

          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-light btn-lg"
              ><i class="fab fa-facebook-f"></i>
              <img
                src="https://cdn.icon-icons.com/icons2/1109/PNG/512/1486053608-facebook_79182.png"
                style="width: 50px; height: 50px; margin-right: 1.6%"
              />
            </a>
            <!-- Dribbble -->

            <!-- Instagram -->
            <a type="button" class="btn btn-floating btn-light btn-lg"
              ><i class="fab fa-twitter">
                <img
                  src="https://w7.pngwing.com/pngs/750/461/png-transparent-instagram-application-logo-logo-computer-icons-instagram-miscellaneous-text-trademark.png"
                  style="width: 50px; height: 50px; margin-left: 2.4%"
                /> </i
            ></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-light btn-lg"
              ><i class="fab fa-google-plus-g">
                <img
                  src="https://png.pngtree.com/png-vector/20221018/ourlarge/pngtree-twitter-social-media-round-icon-png-image_6315985.png"
                  style="width: 50px; height: 50px; margin-left: 2.4%"
                /> </i
            ></a>
            <!-- Linkedin -->
            <a type="button" class="btn btn-floating btn-light btn-lg"
              ><i class="fab fa-google-plus-g">
                <img
                  src="https://static.vecteezy.com/system/resources/previews/018/930/587/original/linkedin-logo-linkedin-icon-transparent-free-png.png"
                  style="width: 50px; height: 50px; margin-left: 2.4%"
                /> </i
            ></a>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Buscar</h5>

          <div class="form-outline form-white mb-4">
            <input
              type="text"
              id="formControlLg"
              class="form-control form-control-lg"
            />
            <!-- <label class="form-label" for="formControlLg">Search</label> -->
          </div>

          <ul class="fa-ul" style="margin-left: 1.65em">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span
              ><span class="ms-2">Team, Bogotá D.C</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span
              ><span class="ms-2">dbarreral@unbosque.edu.co</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span
              ><span class="ms-2">yxalvarez@unbosque.edu.co </span>
            </li>
            <!-- <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">snietoc@unbosque.edu.co </span>
            </li> -->
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Horarios de Atención</h5>

          <table class="table text-center text-white">
            <tbody class="fw-normal">
              <tr>
                <td>Lunes - Jueves:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Viernes - Sabado:</td>
                <td>8am - 1am</td>
              </tr>
              <tr>
                <td>Domingo:</td>
                <td>9am</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- </div> -->
<!-- End of .container -->
