<mat-toolbar class="p-3 bg-dark text-white">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-finally"
  >
    <ng-container *ngIf="isAdmin === 'admin'">
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-container>
    <span>Sistema de veterinaria</span>
    <span class="spacer"></span>

    <a
      *ngIf="!isLogged; else viewLogout"
      mat-button
      routerLink="/iniciar-sesion"
      >Login</a
    >
    <!-- <a *ngIf="isAdmin === 'admin'" mat-button routerLink="/admin">Admin</a> -->

    <a *ngIf="isAdmin === 'admin'" mat-button routerLink="/admin">
      <span class="nav-link">Dashboard</span>
    </a>
    <a *ngIf="isAdmin === 'admin'" mat-button routerLink="/admin/users">
      <span class="nav-link">Usarios Registrados</span>
    </a>

    <a
      *ngIf="isVeterinario === 'veterinario' || isAdmin === 'admin'"
      mat-button
      routerLink="/clientes"
      >Clientes</a
    >
    <!-- <a *ngIf="isAdmin === 'admin'" mat-button> -->
    <!-- <mat-icon>exit_to_app</mat-icon> -->
    <!-- <span class="nav-link">Exit</span>
    </a> -->
  </div>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="onLogout()">Cerrar sesión</a>
</ng-template>
