<div class="card">
    <div class="card-header">
        <h1>Clientes</h1>
    </div>
    <div class="card-body">
        <table class="table table-primary table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">NombreMascota</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Alex</td>
                    <td>Diaz</td>
                    <td>Alex@gmail.com</td>
                    <td>Lukas</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Alejandro</td>
                    <td>Hernandez</td>
                    <td>Alejandro@gmail.com</td>
                    <td>Rex</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Juana</td>
                    <td>Perez</td>
                    <td>Juana@gmail.com</td>
                    <td>Lulu</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Marcos</td>
                    <td>Gomez</td>
                    <td>Marcos@gmail.com</td>
                    <td>Rocky</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Luisa</td>
                    <td>Bonza</td>
                    <td>Luisa@gmail.com</td>
                    <td>Luna</td>
                </tr>
            </tbody>
        </table>
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar cliente</button> -->
    </div>
</div>

<div class="modal" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="10" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#exampleModal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>