<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <img style="max-width: 150px; max-height: 250px" src="/assets/img/Logo.jpeg" />
                </div>
                <div class="flex-grow-1 ms-3">
                    <h2>VET CENTER</h2>
                    <p>VET CENTER cuenta con un excelente equipo de profesionales de médicos veterinarios altamente
                        calificados en el sector de la medicina para animales, capacitados de ofrecer una calidad de
                        vida a sus mascotas llegando a los diagnósticos que permitirán enfocar los tratamientos de
                        manera eficiente y oportuna haciendo seguimiento a la historia clínica para recomendar los
                        procesos adecuados. En nuestras 8 sedes podrás llevar a tu mascota para que sea atendida por
                        nuestros profesionales en medicina animal ya sea para procedimientos de rutina como
                        desparasitar, limpieza de oidos, corte de uñas, vacunas así como procedimientos de emergencia o
                        tratamientos especiales por enfermedad.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="text-center">ADMINISTRACIÓN</h2>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="card text-white bg-primary mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Perros en guardería</h3>
                                <h1 class="card-text">45</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-secondary mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Gatos en guardería</h3>
                                <h1 class="card-text">21</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-success mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Jaulas disponibles</h3>
                                <h1 class="card-text">7</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-danger mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Vacunas disponibles</h3>
                                <h1 class="card-text">36</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-dark bg-warning mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Clientes totales</h3>
                                <h1 class="card-text">68</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-dark bg-info mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Mascotas atendidas</h3>
                                <h1 class="card-text">123</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>