<!-- <section class="auth-form">
  <div class="text-center">
    <h3 class="h3">{{ options.label }}</h3>
  </div>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="inputPassword5" class="form-label">Password</label>
      <input
        type="password"
        id="inputPassword5"
        class="form-control"
        aria-describedby="passwordHelpBlock"
        formControlName="password"
      />
      <div id="passwordHelpBlock" class="form-text">
        Su contraseña debe tener entre 8 y 20 caracteres, contener letras y
        números, y no debe contener espacios, caracteres especiales o emoji.
      </div>
    </div>
   <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <!-- <div class="d-grid">
      <button type="submit" class="btn btn-primary"></button>
    </div>
    <div class="text-center mt-5">
      <ng-container >
        <a  [routerLink]="['/registrarse']"  routerLinkActive="router-link-active"  class="text-black mb-3">Crear Nueva Cuenta</a>
      </ng-container>
    </div>
  </form>
  <ng-template #showSignTemplate>
    <a [routerLink]="['/iniciar-sesion']"  routerLinkActive="router-link-active" class="text-black mb-3">
      Ya tienes una cuenta!! <small> Ingrese Aquí </small>
    </a>
  </ng-template>
</section> -->

