<div class="card">
    <div class="card-header">
        <h1>Clientes</h1>
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-primary" (click)="add()">
            <!-- <mat-icon>add</mat-icon> -->
            <span>Agregar cliente</span>
        </button>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Num. Celular</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">NombreMascota</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id_usuario}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.correo}}</td>
                    <td>{{cliente.celular}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.nombreMascota}}</td>
                    <td>
                        <div *ngIf="false; else elseBlock"></div>
                    </td>
                    <ng-template #elseBlock>
                        <button mat-icon-button color="accent" (click)="edit(cliente)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="delete(cliente)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-template>
                </tr>
            </tbody>
        </table>

    </div>
</div>